albumentations>=1.4.16
insightface.data.images
insightface.data.objects
insightface.thirdparty.face3d.mesh.cython
insightface==0.7.3
onnx>=1.14.0
opencv-python>=4.7.0.72
numpy==1.26.4
segment_anything
ultralytics
